*,
::before,
::after {
    box-sizing: border-box;
}

.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    background-image: url("/imagenes/stars.jpg");
    color: white;
    top: 0;
    z-index: 10000;
}

.main {
    margin-top: 10rem;
}

body {
    background-color: #16191b;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272b30;
    color: #c8c8c8;
    margin: 0;
}

.grid-persons {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-person {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.person-box {
    display: grid;
    grid-template-areas: "name name name"

    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4rem repeat(3, 3rem);
    border: solid 1px black;
    background-color: #202327;
    color: #c8c8c8;
}

.person-box:hover {
    background-color: #181a1d;

}

.person-box-big {
    display: grid;
    grid-template-areas: "name name name"

    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4rem repeat(6, 5rem);
    border: solid 1px black;
    background-color: #202327;
    color: #c8c8c8;
}


.name-box {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16191b;
    padding: 5px 0;
}

.person-box:hover .name-box {
    background-color: #121213;

}

.item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-align: center;
}

.link-box{
    text-decoration: none;
    color: #c8c8c8;
}